<div class="main">
  <div class="panel panel-default">
    <div class="panel-heading">Factory</div>
    <div class="panel-body">
      <input type="text" ng-model="factoryValue">
      with taxes: <span class="label label-info"> {{getAmountWithTaxes() | currency}}</span>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">Service</div>
    <div class="panel-body">
      <ul>
        <li ng-repeat="user in users track by $index">{{user.name}}</li>
      </ul>
    </div>
  </div>
</div>
